
table
{
	margin-top: 0.5em;
	border: 1px solid #DDDDDD;  /*mid grey */
	border-collapse: collapse;
}

/*This style tr.alt will be applied to every 2nd row via the setAttribute() method in javascript*/
tr.alt
{
	background-color: #EEEEEE; /*light grey*/
}

th
{
	padding: 8px 15px;
	background-color: #385708;  /*green*/
	color: #FFFFFF;
	text-align: left;
}


td
{
	padding: 6px 15px;
}

.number, .yesno
{
	text-align: center;
}

/*tr:nth-child(3n +1)  { color: red;}  */